* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 1s ease-in-out;
}
body {
    background-color: black;

}
.nav {
    display: flex;

}
.nav-left {
    background: linear-gradient(-90deg, hsl(0, 0%, 0%), rgba(0, 6, 59, 0.473) 100%);
    box-shadow: 0 1pc 1pc red;
    width: 15pc;
    height: 10pc;
    padding: 2pc 1.5pc;
    text-align: center;
    color: aliceblue;
    font-size: 1pc;
    margin: 0 1.2pc 0 0;
}

.nav-right {
    background: linear-gradient(90deg, #000 30%, rgba(0, 6, 59, 0.473) 100%);
    color: aliceblue;
    font-size: 1pc;
    padding: 1.8pc 1.5pc;
    height: 10pc;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: end;


}
.nav-right ul{
    display: flex;
    gap: 1pc;
    list-style: none;
}
.nav-right a:hover {
    border-bottom: 0.1pc solid #fff;

}
.nav-right a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2pc;
    padding: 20px 10px;

}